*{
  margin: 0;
  padding: 0;
}
.App{
  background: #f2f0f5;
}
.app_header{
  padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: #fff;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0,0,0,.75);
}
.app_body{
  display: flex;
}