.message_sender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 7px -7px rgba(0,0,0,.75);
    width: 100%;
}
.message_sender_header_top{
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}
.message_sender_header_top > form{
    flex: 1;
    display: flex;
}
.message_sender_header_top > form > .message_sender_input{
    flex: 1;
}
.message_sender_header_top > form > button{
    display: none;
}
.message_sender_header_top > form > input{
    outline: none;
    border: none;
    padding: 10px 20px ;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
.message_sender_header_bottom{
    display: flex;
    justify-content: space-evenly;
}
.messege_sender_header_bottom_options{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}
.messege_sender_header_bottom_options:hover{
    background-color: lightgray;
}
.messege_sender_header_bottom_options > h3{
    margin-left: 5px;
    color: gray;
    font-size: 1.0rem;
}